<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madlib Form</title>
</head>

<body>
  <h1>Enter the words to fill up Madlibs</h1>
  <form action="/madlib" method="post">
    <label for="firstWord">First Word</label>
    <input type="text" id="firstWord" name="firstWord">
    <label for="secondWord">Second Word</label>
    <input type="text" id="secondWord" name="secondWord">
    <label for="thirdWord">Third Word</label>
    <input type="text" id="thirdWord" name="thirdWord">
    <label for="fourthWord">Fourth Word</label>
    <input type="text" id="fourthWord" name="fourthWord">
    <label for="fifthWord">Fifth Word</label>
    <input type="text" id="fifthWord" name="fifthWord">
    <label for="sixthWord">Sixth Word</label>
    <input type="text" id="sixthWord" name="sixthWord">
    <label for="seventhWord">Seventh Word</label>
    <input type="text" id="seventhWord" name="seventhWord">
    <button type="submit">Submit</button>
  </form>
</body>

</html>